node_modules
.idea
.env

certs

nginx-1.27.3

tableTopSecrets

mongodb

elasticSearch

60fps.mp4
disney.mp4
disney2.mp4
disney3.mp4
disney4.mp4
disneySmall1.mp4
disneySmall2.mp4
disneySmall3.mp4
testVideo.mp4
thinking.mp4
leftRight.webm
rotate.webm
upDown.webm
tinyImage.jpg
portrait1.jpg
portrait2.jpg
portrait3.jpg
woman.jpg
cube.gif
helloWorld.docx
L1.pdf
weird1.svg
weird2.svg
weird3.svg
test1.txt
test2.txt
test3.txt
cyberpunkIcon.svg

“Cosmic Cliffs” in the Carina Nebula (NIRCam Image).png
The Pillars of Creation(Webb NIRCam Image).png